<mat-card>
  <mat-card-header>
    <div class="mat-card-avatar" mat-card-avatar="">
      <img src="{{ item?.owner.avatar_url }}" alt="Avatar">
    </div>
    <mat-card-title>Name: <strong>{{ item?.name }}</strong></mat-card-title>
    <mat-card-subtitle>id: <strong>{{ item?.id }}</strong></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Description:</strong> {{ item?.description }}</p>
    <p><strong>Url:</strong> <a href="{{item?.html_url}}" target="_blank">{{item?.html_url}}</a></p>
    <p><strong>Language:</strong> {{item?.language}}</p>
    <p><strong>Created:</strong> {{item?.created_at}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleCancel()">
      <mat-icon aria-label="Home">home</mat-icon>
      Back
    </button>
  </mat-card-actions>
</mat-card>
